@import "bourbon/bourbon";
@import "neat/neat";

$color-stack1: white;
$color-stack2: #0047BD;
$color-stack3: #979797;
$highlightColor: #326bca;
$font-stack1: 'Helvetica Neue' , 'Helvetica', 'Raleway', sans-serif;

//body > .inner {
//    display: none;
//}

body.pg-loaded > .inner {
    display: block;
}

.transparent {
    opacity: 0.9;
}
a {
    text-decoration: none;
}
.columns {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: $font-stack1;
    font-weight: 300;
}

header {
    background-color: $color-stack2;
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    #header-wrapper {
    margin: 0;
//        width: 100%;
    }
}
#location-icon {
    height: 30px;
    width: 30px;
}

main {
    
display: flex;
justify-content: space-around;
padding: 2%;
margin-top: 1%;
background: $color-stack2;
border: 1px solid $color-stack3;
border-radius: 8px;
font-family: $font-stack1;
font-weight: 300;
height: 530px;
    color: $color-stack1;

    #left-column {
        display: inline-block;
        float: left;
    }
    #right-column {
        display: inline-block;
        float: right;
    }
}
#nav-wrapper {
    display: block;
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
    #navbar {
        display: flex;
        list-style: none;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0;
    }
}

.nav-item {
    height: 105px;
    width: 105px;
    margin: 0 5px;
    background: $color-stack2;
    border: 1px solid $color-stack3;
    border-radius: 8px;
    color: $color-stack1;
    font-family: $font-stack1;
    font-weight: 300;
    text-align: center;
    opacity: 0.8;
    padding-top: 15px;
    h2 {
    font-size: 1.4em;
    font-weight: 400;
    }
}
.nav-item:hover {
    background: $highlightColor;
    color: $color-stack1;
    opacity: 1;
    height: 120px;
    width: 120px;
    font-weight: 600;
}

@media (max-width: 1000px) {
    .nav-item:hover {
        background: $color-stack2;
        color: $color-stack1;
        height: 105px;
        width: 105px;
        font-weight: 300; 
    }
}

#cityLabel {
    font-size: 2.3em;
    margin: 0;
}

#left-column {
    h2 {
        font-weight: 300;
    }
    h3, h4 {
        margin-top: 10px;
        font-weight: 300;
    }
}
#right-column {
    h2 {
        font-size: 2.4em;
        margin: 0;
        margin-top: 50px;
        font-weight: 500;
    }
    h3 {
        font-size:  1.8em;
        margin: 0;
        margin-top: 5px;;
        font-weight: 400;
    }
    h4 {
        font-weight: 300;
    }
    li {
        font-size: 1.3em;
        margin: 10px 0;
    }
}

.data1 {
    font-size: 2em;
    
}
.data2 {
    font-size: 1.4em;
}

.loadingMessage {
    font-size: 1.4em;
    font-weight: 500;
    color: $color-stack1;
}


//Below is the styling for the animation on the loading screen
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: $color-stack1;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}