@import "bourbon/bourbon";
@import "neat/neat";

$color-stack2: white;
$color-stack1: #0047BD;
$color-stack3: #979797;
$font-stack1: 'Helvetica Neue' , 'Helvetica', 'Raleway', sans-serif;

//body > .inner {
//    display: none;
//}

body.pg-loaded > .inner {
    display: block;
}

.transparent {
    opacity: 50%;
}
a {
    text-decoration: none;
}
.columns {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

header {
    background-color: $color-stack1;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    #header-wrapper {
    margin: 0;
//        width: 100%;
    }
}
#location-icon {
    height: 30px;
    width: 30px;
}

main {
    
display: flex;
    justify-content: space-around;
padding: 2%;
margin-top: 3%;
background: $color-stack2;
border: 1px solid $color-stack3;
border-radius: 8px;
font-family: $font-stack1;
font-weight: 100;
height: 500px;
    color: $color-stack1;

    #left-column {
        display: inline-block;
        float: left;
    }
    #right-column {
        display: inline-block;
        float: right;
    }
}
#nav-wrapper {
    display: block;
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
    #navbar {
        display: flex;
        list-style: none;
        border: 3px solid orange;
        justify-content: space-around;
        padding: 0;
        li {
            height: 120px;
            width: 120px;
            margin: 0 5px;
            background: $color-stack2;
            border: 1px solid $color-stack3;
            border-radius: 8px;
            color: $color-stack1;
            font-family: $font-stack1;
            font-weight: 100;
            text-align: center;
            }
    }
}

#cityLabel {
    font-size: 2.3em;
    margin: 0;
}
#right-column {
    h2 {
        font-size: 2.4em;
        margin: 0;
        margin-top: 50px;
    }
    h3 {
        font-size:  1.8em;
        margin: 0;
    }
}