@import "bourbon/bourbon";
@import "neat/neat";

$color-stack1: white;
$color-stack2: #0047BD;
$color-stack3: #979797;
$highlightColor: #326bca;
$font-stack1: 'Helvetica Neue' , 'Helvetica', 'Raleway', sans-serif;

//body > .inner {
//    display: none;
//}

body.pg-loaded > .inner {
    display: block;
}

.transparent {
    opacity: 0.9;
}
a {
    text-decoration: none;
}
.columns {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: $font-stack1;
    font-weight: 100;
}

header {
    background-color: $color-stack2;
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    #header-wrapper {
    margin: 0;
//        width: 100%;
    }
}
#location-icon {
    height: 30px;
    width: 30px;
}

main {
    
display: flex;
justify-content: space-around;
padding: 2%;
margin-top: 1%;
background: $color-stack2;
border: 1px solid $color-stack3;
border-radius: 8px;
font-family: $font-stack1;
font-weight: 100;
height: 530px;
    color: $color-stack1;

    #left-column {
        display: inline-block;
        float: left;
    }
    #right-column {
        display: inline-block;
        float: right;
    }
}
#nav-wrapper {
    display: block;
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
    #navbar {
        display: flex;
        list-style: none;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0;
    }
}

.nav-item {
    height: 105px;
    width: 105px;
    margin: 0 5px;
    background: $color-stack2;
    border: 1px solid $color-stack3;
    border-radius: 8px;
    color: $color-stack1;
    font-family: $font-stack1;
    font-weight: 100;
    text-align: center;
    opacity: 0.8;
    padding-top: 15px;
    h2 {
    font-size: 1.4em;
    font-weight: 300;
    }
}
.nav-item:hover {
    background: $highlightColor;
    color: white;
    opacity: 1;
    height: 120px;
    width: 120px;
    font-size: 1.3em;
    font-weight: 500;
}

#cityLabel {
    font-size: 2.3em;
    margin: 0;
}

#left-column {
    h2 {
        font-weight: 300;
    }
    h3, h4 {
        margin-top: 10px;
        font-weight: 100;
    }
}
#right-column {
    h2 {
        font-size: 2.4em;
        margin: 0;
        margin-top: 50px;
        font-weight: 500;
    }
    h3 {
        font-size:  1.8em;
        margin: 0;
        margin-top: 5px;;
        font-weight: 400;
    }
    h4 {
        font-weight: 300;
    }
}

.data1 {
    font-size: 2em;
    
}
.data2 {
    font-size: 1.4em;
}