<!DOCTYPE html>
   <main class="columns">
    <div id="left-column">
        <h2> {{ city }} </h2>
        <div id="current-temp">
            <h3>Max Temp: {{ maxTemp }} <img src="../images/fahrenheit.png" alt="The fahrenheit icon"></h3>
            <h3>Min Temp: {{ minTemp }} <img src="../images/fahrenheit.png" alt="The fahrenheit icon"></h3>
<!--            <img src="../images/fahrenheit.png" alt="The fahrenheit icon">-->
        </div>
        <h4 id="sunrise">Sunrise: {{ sunrise }} AM </h4>
        <h4 id="sunset">Sunset: {{ sunset }} PM </h4>
    </div>
    <div id="right-column">
        <div id="current-day-wrapper">
            <h2 id="current-day"> {{ day }} </h2>
            <h4 id="current-date"> {{date}} </h4>
        </div>
        <h4>You might be comfortable wearing:</h4>
        <ul id="suggestin-list" ng-repeat="item in suggest">

        </ul>
        <h4>Don't forget to leave the house without these:</h4>
        <ul>
            <li></li>
        </ul>
    </div>
</main>
<div id="nav-wrapper" class="columns">
<ul id="navbar">
    <a href="#/today/0">
        <li id="nav-today" class="nav-item">
            <h2>Today</h2></li>
    </a>
    <a href="#/days-from-now/1">
        <li id="nav-one" class="nav-item">
            <h2>{{navOne}} </h2></li>
    </a>
    <a href="#/days-from-now/2">
        <li id="nav-two" class="nav-item">
            <h2>{{navTwo}} </h2></li>
    </a>
    <a href="#/days-from-now/3">
        <li id="nav-three" class="nav-item">
            <h2>{{navThree}} </h2></li>
    </a>
    <a href="#/days-from-now/4">
        <li id="nav-four" class="nav-item">
            <h2>{{navFour}} </h2></li>
    </a>
</ul>
</div>
